@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

header {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    width: 100%;
}

header span{
    color: var(--text-white);
    font-size: 1.25rem;
}

main{
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer, .registrationContainer{
    width: 100%;
    max-width: 25rem;
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm, .registrationForm{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    background-color: #F3F3F3;
    border-radius: 0.5rem;
}

h1{
    font-size: 1.125rem;
    font-weight: 500;
}

.loginForm label, .registrationForm label{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: var(--text);
}

.loginForm input, .registrationForm input{
    width: 100%;
    height: 2.5rem;
    background-color: #D2D2D2;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-family: roboto, sans-serif;
}

.loginForm input:hover, .loginForm input:active, .loginForm input:focus, .registrationForm input:hover, .registrationForm input:active, .registrationForm input:focus{
    background-color: #ffffff;
}

#loginSubmit, #registerSubmit{
    background-color: var(--secondary);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto, sans-serif;
    font-size: 1.125rem;
    cursor: pointer;
}

#loginSubmit:hover, #loginSubmit:focus, #registerSubmit:hover, #registerSubmit:focus{
    background-color: var(--secondary-hover);
}

.loginForm a, .registrationForm a{
    font-size: 1rem;
    font-family: roboto, sans-serif;
    width: 100%;
    text-align: center;
    color: var(--captions);
}

.loginForm a:hover, .registrationForm a:hover{
    color: var(--secondary-hover);
}

@media screen and (min-width: 25rem) {
    .loginContainer, .registrationContainer{
        border-radius: 1rem;
    }
}

@media screen and (min-width: 50rem) {
    header{
        height: 4.25rem;
    }
    header img{
        height: 100%;
    }
    header span{
        font-size: 3rem;
    }
    h1{
        font-size: 1.25rem;
    }
}
