header{
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
}

footer{
    width: 100%;
    height: 50px;
    background-color: var(--footer);
}
footer a, header a{
    height: 100%;
    width: fit-content;
    display: block;
}