header {
    width: 100%;
    height: 3.125rem;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerStart a{
    font-size: 1.5rem;
}

footer {
    width: 100%;
    height: 3.125rem;
    background-color: var(--footer);
}

footer a {
    height: 100%;
    width: fit-content;
    display: block;
}

.headerLogoImg, .headerLogoLink {
    height: 100%;
    width: fit-content;
    display: block;
}

.headerAdminNavDesktop {
    display: none;
}

.headerEnd {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100dvw;
    height: calc(100vh - 3.125rem);
    background-color: var(--background);
    z-index: 10;
    top: 3.125rem;
    left: 0;
    padding: 2.75rem 0.5rem;
    gap: 0.5rem;
}

.burgerMenuToggle {
    height: 1.9375rem;
    width: 1.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burgerMenuCreateNew, .burgerMenuManagePosts, .burgerMenuLogoutBTN {
    width: 19rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    font-size: 1.125rem;
    border-radius: 0.5rem;
}

.burgerMenuCreateNew, .burgerMenuManagePosts {
    background-color: var(--secondary);
}

.burgerMenuCreateNew:hover, .burgerMenuManagePosts:hover, .burgerMenuCreateNew:focus, .burgerMenuManagePosts:focus {
    background-color: var(--secondary-hover);
}

.burgerMenuLogoutBTN {
    background-color: var(--primary);
    justify-self: end;
    cursor: pointer;
}

.burgerMenuLogoutBTN:hover, .burgerMenuLogoutBTN:focus {
    background-color: var(--primary-hover);
}

.burgerMenuGap {
    flex-grow: 1;
}

.headerMid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
}
.headerMid form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.searchInput {
    background-color: var(--text-white);
    width: 100%;
    max-width: 400px;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--captions);
    padding: 0.5rem;
    font-size: 1rem;
    font-family: roboto, sans-serif;
    color: var(--text);
}

.searchButton{
    background-color: var(--secondary);
    color: var(--text-white);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.searchButton:hover{
    background-color: var(--secondary-hover);
}

@media screen and (min-width: 50rem) {

    header {
        height: 4.25rem;
    }

    footer {
        height: 4.25rem;
    }

    header img, footer img {
        height: 100%;
    }

    .headerAdminNavDesktop {
        display: block;
        color: var(--text-white);
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    .burgerMenuToggle {
        display: none;
    }

    .fa-right-from-bracket {
        cursor: pointer;
        font-size: 1.75rem;
    }

    .headerStart {
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;
    }
}
