@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

.recentPostsCarousel{
display: none;
}

.blogFeedSection{
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.blogFeedHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blogFeedHeader h1{
    background-color: var(--primary);
    color: var(--text-white);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterFeedBTN{
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterFeedBTN, .recentPostsCarouselBtnPrevious, .recentPostsCarouselBtnNext, .loadMorePostsFeedBTN {
    cursor: pointer;
}

.blogFeedPostsContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blogFeedPostCard{
    background-color: #FFFFFF;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.blogFeedPostCard img, .blogFeedPostCard h2, .blogFeedPostCard span{
    width: 100%;
}

.blogFeedPostCardDate{
    font-size: 13px;
    color: var(--captions);
}

h2{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--text);
}

.blogFeedPostCardTruncText{
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: var(--text);
}

.loadMorePostsFeedBTN{
    background-color: var(--secondary);
    color: var(--text-white);
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.loadMorePostsFeedBTN:hover{
    background-color: var(--secondary-hover);
}

.select-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.custom-select{
    position: relative;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.options-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid var(--captions);
    right: 5px;
    top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 4px;
}

.option{
    color: var(--text);
    font-family: roboto, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid var(--captions);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.option:hover, .option:focus{
    color: var(--secondary-hover);
    border-bottom: 1px solid var(--secondary-hover);
}

.active-option{
    color: var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

@media screen and (min-width: 800px) {
    .blogFeedHeader{
        height: 64px;
    }
    .blogFeedHeader h1{
        font-size: 48px;
    }
    .custom-select{
        height: 64px;
        width: 64px;
    }
    .select-button{
        height: 45px;
        width: 45px;
    }
    .fa-bars-filter{
        font-size: 45px;
    }
    .options-container{
        top: 55px;
    }
    .option{
        font-size: 20px;
    }
    .blogFeedPostsContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        align-items: stretch;
    }
    .blogFeedPostCard{
        padding: 8px;
    }
    .blogFeedPostCard h2{
        font-size: 32px;
    }
    .blogFeedPostCard .blogFeedPostCardTruncText{
        font-size: 20px;
    }
    .blogFeedPostCard .blogFeedPostCardDate{
        font-size: 16px;
    }
    .loadMorePostsFeedBTN{
        font-size: 18px;
    }
}
