@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

main{
    padding: 8px;
}

.blogPostContainer{
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blogPostImageContainer{
    width: 100%;
}

.articleImg{

}

.articleImgText{
    width: 100%;
    font-size: 15px;
    color: var(--captions);
    display: block;
}

h1{
    font-size: 32px;
    font-weight: 500;
}
.articlePublished, .articleAuthor{
    font-size: 13px;
    color: var(--captions);
}

.articleMainText {
    font-size: 18px;
}