@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

main{
    padding: 1rem;
    width: 100%;
    flex: 1;
}

h1{
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

h2{
    font-size: 1.25rem;
    font-weight: 400;
}

.editPostSection{
    left: 0;
    display: none;
    width: 100%;
    background-color: var(--background);
}

.managePostsSection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.managePostsSection h1{
    color: var(--text-white);
}

.postsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.postCard{
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.postCardEdit{
    display: flex;
    justify-content: space-between;
}

.editPostButton, .deletePostButton{
    color: var(--clickable-text);
    cursor: pointer;
}

.editPostButton:hover, .editPostButton:focus{
    color: var(--secondary-hover);
}

.deletePostButton:hover, .deletePostButton:focus{
    color: var(--primary-hover);
}

.postCardContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px */
}

#createNewPostForm, #editPostForm{
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#createNewPostForm h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text);
}

#createNewTitle, #createNewImage, #createNewImageText, #editTitle, #editImage, #editImageText {
    width: 100%;
    height: 2.5rem;
    background-color: #D2D2D2;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-family: roboto, sans-serif;
    border: 1px solid #ffffff;
}
#createNewTitle:hover, #createNewImage:hover, #createNewImageText:hover, #createNewTitle:focus-within, #createNewImage:focus-within, #createNewImageText:focus-within,
#editTitle:hover, #editImage:hover, #editImageText:hover, #editTitle:focus-within, #editImage:focus-within, #editImageText:focus-within
{
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}

#createNewPostForm label, #editPostForm label{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: var(--text);
    width: 100%;
    text-align: left;;
    font-weight: 500;
}

textarea{
    width: 100%;
    height: fit-content;
    background-color: #D2D2D2;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-family: roboto, sans-serif;
    border: 1px solid #ffffff;
}

textarea:hover, textarea:focus-within{
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}

.loadMorePostsEditPageBTN, #createNewSubmit, #editSubmit{
    width: 10rem;
    height: 2.5rem;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    border-radius: 0.5rem;
}

.loadMorePostsEditPageBTN, #createNewSubmit, #editSubmit, #discardChanges{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.loadMorePostsEditPageBTN:hover, .loadMorePostsEditPageBTN:focus, #createNewSubmit:hover, #createNewSubmit:focus, #editSubmit:hover, #editSubmit:focus{
    background-color: var(--secondary-hover);
}

#discardChanges{
    width: 10rem;
    height: 2.5rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    border-radius: 0.5rem;
}

#discardChanges:hover, #discardChanges:focus{
    background-color: var(--primary-hover);
}

@media screen and (min-width: 50rem) {

    .postsContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
        align-items: stretch;
    }

    .editPostButton, .deletePostButton{
        font-size: 1.125rem;
    }

    .postCardTitle{
        font-size: 2rem;
    }

    .postCardTruncText{
        font-size: 1.25rem;
    }

    .loadMorePostsEditPageBTN {
        font-size: 1.125rem;
    }

    #editPostForm span{
        font-size: 2rem;
    }

    #editPostForm label, #createNewPostForm label{
        font-size: 1rem;
    }

    #createNewPostForm h1{
        font-size: 2rem;
    }
    #createNewSubmit{
        font-size: 1.125rem;
    }
    .managePostsSection h1{
        font-size: 2rem;
    }

}