@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

main{
    padding: 0.5rem;
}

.blogPostContainer{
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blogPostImageContainer{
    width: 100%;
}

.articleImgText{
    width: 100%;
    font-size: 0.9375rem;
    color: var(--captions);
    display: block;
}

h1{
    font-size: 2rem;
    font-weight: 500;
}
.articlePublished, .articleAuthor{
    font-size: 0.8125rem;
    color: var(--captions);
}

.articleMainText {
    font-size: 1.125rem;
}

@media screen and (min-width: 50rem) {
    h1{
        font-size: 3rem;
    }
    .articleImgText{
        font-size: 1.125rem;
    }
    .articlePublished, .articleAuthor{
        font-size: 1rem;
    }
    .articleMainText {
        font-size: 1.25rem;
    }
}