@import url(reset.css);
@import url(constants.css);
@import url(header-and-footer.css);

main{
    padding: 8px;
    width: 100%;
    flex: 1;
}

h1{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

.editPostSection{
    position: absolute;
    overflow-y: scroll;
    top: 50px;
    left: 0;
    display: none;
    padding: 8px;
    width: 100vw;
    height: -o-calc(100vh - 50px);
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    background-color: var(--background);
}

.managePostsSection{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.managePostsSection h1{
    color: var(--text-white);
}

.postsContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postCard{
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postCardEdit{
    display: flex;
    justify-content: space-between;
}

.editPostButton, .deletePostButton{
    color: var(--clickable-text);
}

.editPostButton:hover, .editPostButton:focus{
    color: var(--secondary-hover);
}

.deletePostButton:hover, .deletePostButton:focus{
    color: var(--primary-hover);
}

.postCardContent{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#createNewPostForm, #editPostForm{
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#createNewPostForm h1{
        font-size: 20px;
        font-weight: 500;
    color: var(--text);
}

#createNewTitle, #createNewImage, #createNewImageText, #editTitle, #editImage, #editImageText {
    width: 100%;
    height: 40px;
    background-color: #D2D2D2;
    padding: 4px 8px;
    border-radius: 8px;
    font-family: roboto, sans-serif;
    border: 1px solid #ffffff;
}
#createNewTitle:hover, #createNewImage:hover, #createNewImageText:hover, #createNewTitle:focus-within, #createNewImage:focus-within, #createNewImageText:focus-within,
#editTitle:hover, #editImage:hover, #editImageText:hover, #editTitle:focus-within, #editImage:focus-within, #editImageText:focus-within
{
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}

#createNewPostForm label, #editPostForm label{
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: var(--text);
    width: 100%;
    text-align: left;;
}

textarea{
    width: 100%;
    height: fit-content;
    background-color: #D2D2D2;
    padding: 4px 8px;
    border-radius: 8px;
    font-family: roboto, sans-serif;
    border: 1px solid #ffffff;
}

textarea:hover, textarea:focus-within{
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}

.managePostsSectionButton, #createNewSubmit, #editSubmit{
    width: 160px;
    height: 40px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    border-radius: 8px;
}

.managePostsSectionButton, #createNewSubmit, #editSubmit, #discardChanges{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.managePostsSectionButton:hover, .managePostsSectionButton:focus, #createNewSubmit:hover, #createNewSubmit:focus, #editSubmit:hover, #editSubmit:focus{
    background-color: var(--secondary-hover);
}

#discardChanges{
    width: 160px;
    height: 40px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    border-radius: 8px;
}

#discardChanges:hover, #discardChanges:focus{
    background-color: var(--primary-hover);
}